{% extends 'OkaFileBundle::layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/okafilemanager/css/jquery.Jcrop.min.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="row" >
		<div class="twelve columns">
			<img src="{{ entity.getUri() }}" id="target"/>
			<hr>
		</div>
		
		<div class="twelve columns">
			<div class="row">
				{{ form_start(form, {'attr': {'class': 'custom novalidation'}}) }}
					<div class="twelve columns" style="display: none;">
						<ul class="block-grid six-up">
							<li>
								<div class="twelve columns">
									<div class="row collapse">
										<div class="four columns">
											<span class="prefix">x0</span>
										</div>
										<div class="eight columns">
											{{ form_widget(form.x0) }}
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="twelve columns">
									<div class="row collapse">
										<div class="four columns">
											<span class="prefix">y0</span>
										</div>
										<div class="eight columns">
											{{ form_widget(form.y0) }}
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="twelve columns">
									<div class="row collapse">
										<div class="four columns">
											<span class="prefix">x1</span>
										</div>
										<div class="eight columns">
											{{ form_widget(form.x1) }}
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="twelve columns">
									<div class="row collapse">
										<div class="four columns">
											<span class="prefix">y1</span>
										</div>
										<div class="eight columns">
											{{ form_widget(form.y1) }}
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="twelve columns">
									<div class="row collapse">
										<div class="four columns">
											<span class="prefix">w</span>
										</div>
										<div class="eight columns">
											{{ form_widget(form.width) }}
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="twelve columns">
									<div class="row collapse">
										<div class="four columns">
											<span class="prefix">h</span>
										</div>
										<div class="eight columns">
											{{ form_widget(form.height) }}
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="twelve columns">
						{{ form_widget(form.save, {'attr': {'class': 'button medium success'}}) }}
					</div>
				{{ form_end(form) }}
			</div>
			<hr>
		</div>
		
		<div class="twelve columns">
			<a href="{{ path('oka_file_image_show', {'id': entity.id}) }}">Retour à l'image</a>
		</div>
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
	<div id="warning-crop-modal" class="reveal-modal">
		<div class="row">
			<div class="twelve columns">
				<h2>Attention!</h2>
				<p class="lead">
					Les dimensions de cette image sont trop petites pour le cadre demandé.
					<br>
					Veuillez utiliser une image de taille plus grande.
				</p>
			</div>
			<div class="twelve columns">
				<ul class="block-grid two-up">
					<li><a href="{{ path('oka_file_image_show', {'id': entity.id}) }}" class="button secondary">Retour à l'image</a></li>
					<li><a href="{{ path('oka_file_image_update', {'id': entity.id}) }}" class="button succes">Modifier l'image</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/okafilemanager/js/jquery.Jcrop.min.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var jcrop_api;
			var imageWidth = {{ entity.width }};
			var imageHeight = {{ entity.height }};
			
			$('#target').Jcrop({
				onChange:   showCoords,
				onSelect:   showCoords,
				trueSize: [ imageWidth, imageHeight ],
// 				aspectRatio: (imageWidth / imageHeight),
// 				minSize: [ cropWidth, cropHeight ],
				maxSize: [ imageWidth, imageHeight ],
// 				allowResize: false,
				bgColor: 'white',
				bgOpacity: .2
			}, function(){
				jcrop_api = this;
				jcrop_api.animateTo([0, 0, imageWidth, imageHeight ]);
			});
			
			function showCoords(c) {
				$('#oka_file_crop_image_type_x0').val(c.x);
				$('#oka_file_crop_image_type_y0').val(c.y);
				$('#oka_file_crop_image_type_x1').val(c.x2);
				$('#oka_file_crop_image_type_y1').val(c.y2);
				$('#oka_file_crop_image_type_width').val(c.w);
				$('#oka_file_crop_image_type_height').val(c.h);
			};
		});
	</script>
{% endblock %}
