{% extends 'OkaFileBundle::layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
	<div class="row">
		<div class="twelve columns">
			<h3>Gestion des images</h3>
			<hr>
		</div>
		
        <div class="twelve columns">
        	<table class="twelve">
        		<thead>
        			<tr>
        				<th><i class="fa fa-picture-o" title="Image"></i></th>
        				<th>Nom</th>
        				<th>Actions</th>
        			</tr>
        		</thead>
        		<tbody>
        			{% if entities is empty %}
        				<tr>
        					<td colspan="3">
        						Aucune image disponible. <a href="{{ path('oka_file_image_create') }}">Créer</a>
        					</td>
        				</tr>
        			{% else %}
        				{% for entity in entities %}
        					<tr>
        						<td><a href="#" class="th show-picture-original" data-picture-original="{{ entity.getUri() }}"><img src="{{ entity.getUriFor('50', '50') }}"></a></td>
        						<td>{{ entity.name }}</td>
        						<td>
        							<a href="{{ path('oka_file_image_show', {'id': entity.id}) }}" title="Voir"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;
        							<a href="{{ path('oka_file_image_update', {'id': entity.id}) }}" title="Modifier"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
        							<a href="{{ path('oka_file_image_delete', {'id': entity.id}) }}" class="remove-action" title="Supprimer"><i class="fa fa-trash-o"></i></a>
        						</td>
        					</tr>
        				{% endfor %}
        			{% endif %}
        		</tbody>
        		{% if entities is not empty %}
        			<tfoot>
        				<tr>
        					<td colspan="3">
        						{{ paginate('oka_file_image_list', {}) }}
        					</td>
        				</tr>
        			</tfoot>
        		{% endif %}
        	</table>
        </div>
		
		{% if entities is not empty %}
			<div class="twelve columns">
				<ul class="inline-list">
					<li>
						<a href="{{ path('oka_file_image_create') }}">Ajouter une image</a>
					</li>
					<li>
						<a href="{{ path('oka_file_image_upload') }}">Enregistrer un simple fichier image</a>
					</li>
				</ul>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}