{% extends 'OkaFileBundle::layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block sidebar %}{{ parent() }}{% endblock %}

{% block body %}
	<div class="row">
		<div class="twelve columns">
			<h3>Télécharger une nouvelle image</h3>
			<hr>
		</div>
		
		<div class="twelve columns">
			<div class="row">
				{{ form_start(form, {'attr': {'class': 'custom'}}) }}
					<div class="twelve columns">
						{{ form_widget(form.uploadedFile) }}
						{{ form_errors(form.uploadedFile) }}
					</div>
					
					<div class="twelve columns">
						{{ form_widget(form.upload, {'attr': {'class': 'button medium success'}}) }}
					</div>
				{{ form_end(form) }}
			</div>
			<hr>
		</div>
		
		<div class="twelve columns">
			<a href="{{ path('oka_file_image_list') }}">Retour à la liste</a>
		</div>
	</div>
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}